      *{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #6A8EC8;
        }
        h1 {
            margin: 20px;
            height: 25px;
            color: white;
            text-align: center;
            
        }
        #filecontents {
            background-color: white;
            overflow-y: scroll;
            height: 250px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        #validacao {
            background-color: white;
            overflow-y: scroll;
            height: 250px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-top: 1%; 
        }

        #butao{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
        }

        #inputa {
            
            display: grid;
            grid-template-columns: repeat(3 , 1fr);

        }
        button {

            background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
            border: 1px solid #CCCCCE;
            border-radius: 3px;
            box-shadow: 0 3px 0 rgba(0, 0, 0, .3),0 2px 7px rgba(0, 0, 0, 0.2);
            color: #616165;
            display: block;
            font-family: "Trebuchet MS";
            font-size: 14px;
            font-weight: bold;
            line-height: 25px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow:1px 1px 0 #FFF;
            position: relative;
            width: 80px;
            cursor:pointer; 
            justify-self: center; 
            grid-column: 2;
            margin-top: 2%;
        }

        button:active{
            background: -webkit-linear-gradient(bottom, #afafaf, rgba(217, 217, 217)0%);
            box-shadow: 0 0px 0 rgba(0, 0, 0, .3),0 2px 7px rgba(0, 0, 0, 0.2)
        }
